name: Docker Tar Builder

on:
  workflow_dispatch:
    inputs:
      image_name:
        description: 'Docker image name'
        required: true
        default: 'appsmith/appsmith-ce'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Pull Docker image
        run: |
          docker pull ${{ github.event.inputs.image_name }}

      - name: Split into 50MB chunks
        run: |
          docker save ${{ github.event.inputs.image_name }} | gzip | split -b 50M - appsmith.tar.gz.part_
          ls -lh

      - name: Upload individual parts
        uses: actions/upload-artifact@v4
        with:
          name: appsmith-parts
          path: appsmith.tar.gz.part_*
          retention-days: 7
